<div class="container mt-4 mb-4 ">

  <div id="successMsg" class="alert alert-success" role="alert" style="display: none">
  </div>

  <form #f="ngForm" (ngSubmit)="submit(f)" class="form-group">

    <h3>Contact information</h3>

    <div class="form-row mt-2 ">
      <div class="form-group col">
        <label for="contactName" class="control-label">Name</label>
        <input type="text" class="form-control" id="contactName"
               required
               ngModel name="contactName" #contactName="ngModel" >
        <div *ngIf="contactName.touched && !contactName.valid"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="form-group col">
        <label for="contactEmail" class="control-label">Email</label>
        <input type="email" class="form-control" id="contactEmail"
               required
               ngModel name="contactEmail" #contactEmail="ngModel" >
        <div *ngIf="contactEmail.touched && !contactEmail.valid"
             class="alert alert-danger">
          Email is required
        </div>
      </div>
    </div>

    <h3 class="mt-5">Paper/Data information</h3>

    <div class="row mt-1 ">
      <div class="col ">
        <label for="authors" class="control-label">Authors</label>
        <input type="text" class="form-control" id="authors"
               required
               ngModel name="authors" #authors="ngModel" >
        <div *ngIf="authors.touched && !authors.valid"
             class="alert alert-danger">
          Authors are required
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col">
        <label for="title" class="control-label">Title</label>
        <input type="text" class="form-control" id="title"
               required
               ngModel name="title" #title="ngModel" >
        <div *ngIf="title.touched && !title.valid"
             class="alert alert-danger">
          Title is required
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col">
        <label for="year" class="control-label">Year</label>
        <input type="text" class="form-control" id="year"
               required
               ngModel name="year" #year="ngModel" >
        <div *ngIf="year.touched && !year.valid"
             class="alert alert-danger">
          Year is required
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col">
        <label for="journal" class="control-label">Journal</label>
        <input type="text" class="form-control" id="journal"
               required
               ngModel name="journal" #journal="ngModel" >
        <div *ngIf="journal.touched && !journal.valid"
             class="alert alert-danger">
          Journal is required
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col">
        <label for="paperLink" class="control-label">Paper Link</label>
        <input type="text" class="form-control" id="paperLink"
               required
               ngModel name="paperLink" #paperLink="ngModel" >
        <div *ngIf="paperLink.touched && !paperLink.valid"
             class="alert alert-danger">
          Paper link is required
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col">
        <label for="dataLink">Data Link</label>
        <input type="text" class="form-control" id="dataLink"
               ngModel name="dataLink" #dataLink="ngModel" >
      </div>
    </div>

    <div class="row mt-1">
      <div class="col">
        <label>Abstract</label>
        <textarea class="form-control" id="abstract" rows="3" ngModel name="abstract"></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3" [disabled]="!f.valid">Submit</button>
  </form>
</div>

